body {
    background-color: #e1e3e6;
    font-family: "Roboto";
    margin-left: 400px;
    margin-right: 400px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: solid black 2px;
}

.header .contact-request{
    justify-content: flex-end;
}

.header-text {
    flex-direction: column;
    border: solid black 2px;
    margin-right: auto;
}

.contact-request {
    align-items: flex-end;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5px;
    border: solid black 2px;
    margin-left: auto;
}

.contact-request button {
    height: 60px;
    border-radius: 8px;
}

.description {
    flex-direction: row;
    justify-content: flex-start;
    border: solid black 2px;
    width: 700;

}

.brief-about {
    word-wrap: break-word;
    width: 690px;
    border: solid black 2px;
    margin-right: auto;
    margin-top: 50px;
}

.about-title {
    border: solid black 2px;
}

.model-img {
    height: 400px;
    width: 400px;
    border: solid black 2px;
    margin-left: auto;
    margin-top: -250px;
    margin-bottom: auto;
    justify-content: flex-end;
}

.model-img img {
    height: 400px;
    width: 400px;
    object-fit: contain;
}

.about-alona {
    background-color: white;
    border-radius: 10px;
}